*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: rgb(25, 58, 71);
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(184, 200, 161);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: rgb(100, 21, 93);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(86, 79, 85);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.parrafoletra{
    font-size: 25px;
    padding: 30px;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.contactos-container {
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .contacto-item {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }
#contactos h2{
    padding: 30px;
    font-size: 38px;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

footer {
    background-color: #046c5e;
    color: #fff;
    text-align: center;
    padding: 25px;
    position: relative;
  }
  
.social-icons img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}

.parrafoletra img{
    height: 280px;
    width: 481px;
}